<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservation de Salle de Réunion</title>
    <link rel="icon" type="image/ico" href="{% static 'images/logo.ico' %}">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
</head>
<style>
    h1 {
        color: #127d8f; 
        text-align: center; 
    }
    .container {
        padding-left: 300px;
        padding-bottom: 100%;
    }
    .wrapper {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        background: #dadada;
        border-radius: 10px;
        box-shadow: 0 25px 70px rgba(0, 0, 0, .05);
        overflow: hidden;
    }
    .myform input[type="text"],
    .myform input[type="email"],
    .myform input[type="date"],
    .myform textarea,
    .myform select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .myform input[type="submit"],
    .myform input[type="reset"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .myform input[type="submit"] {
        background-color: #007bff;
        color: #fff;
    }
    .myform input[type="submit"]:hover {
        background-color: #0056b3;
    }
    .myform input[type="reset"] {
        background-color: #6c757d;
        color: #fff;
    }
    .myform input[type="reset"]:hover {
        background-color: #5a6268;
    }
</style>
<body>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    
    <div class="container">
        <div class="wrapper">
            <h1 class="mt-5">Réservation Salle de Réunion</h1>
            <form method="post" class="myform">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form.etablissement.label_tag }}
                        {{ form.etablissement }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.demandeur.label_tag }}
                        {{ form.demandeur }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.courrier.label_tag }}
                        {{ form.courrier }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.dateEntrée.label_tag }}
                        {{ form.dateEntrée }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.dateSortie.label_tag }}
                        {{ form.dateSortie }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.Salle.label_tag }}
                        {{ form.Salle }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.nombrePersonne.label_tag }}
                        {{ form.nombrePersonne }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.sujet.label_tag }}
                        {{ form.sujet }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="priseEnCharge">{{ form.priseEnCharge.label_tag }}</label>
                        <select id="priseEnCharge" name="priseEnCharge">
                            <option value="" selected disabled></option>
                            <option value="ira">Ira</option>
                            <option value="interesse">Intéressé</option>
                            <option value="autre">Autre</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.pauseCafe.label_tag }}
                        {{ form.pauseCafe }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.dejeuner.label_tag }}
                        {{ form.dejeuner }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="moyen">{{ form.moyen.label_tag }}</label>
                        <select id="moyen" name="moyen">
                            <option value="" selected disabled></option>
                            <option value="Courrier">Courrier</option>
                            <option value="téléphone">téléphone</option>
                            <option value="Fax">Fax</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="statut">{{ form.statut.label_tag }}</label>
                        <select id="statut" name="statut">
                            <option value="" selected disabled></option>
                            <option value="Confirmer">Confirmer</option>
                            <option value="Annuler">Annuler</option>
                            <option value="Ajourné">Ajourné</option>
                            <option value="Reporter">Reporter</option>
                            <option value="Prolonger">Prolonger</option>
                            <option value="EnAttente">En Attente</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ form.commentaire.label_tag }}
                        {{ form.commentaire }}
                    </div>
                </div>
                
                <!-- Checkbox for hebergement -->
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="checkbox" id="hebergement_checkbox" name="hebergement_checkbox" onclick="toggleHebergement()">
                        <label for="hebergement_checkbox">Réserver une chambre d'hébergement</label>
                    </div>
                </div>

                <!-- Optional hebergement section -->
                <div id="hebergement_options" style="display: none;">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.chambre.label_tag }}
                            {{ form.chambre }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.Capacite.label_tag }}
                            {{ form.Capacite }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.DateEntre.label_tag }}
                            {{ form.DateEntre }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.DateSortie.label_tag }}
                            {{ form.DateSortie }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-primary">Valider la réservation</button>
                    
                        <button type="reset" class="btn btn-secondary">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function toggleHebergement() {
            var checkbox = document.getElementById('hebergement_checkbox');
            var hebergementOptions = document.getElementById('hebergement_options');
            if (checkbox.checked) {
                hebergementOptions.style.display = 'block';
            } else {
                hebergementOptions.style.display = 'none';
                // Réinitialiser les champs du formulaire d'hébergement
                document.getElementById('id_chambre').value = '';
                document.getElementById('id_nombrePersonneHebergement').value = '';
                document.getElementById('id_dateEntreeHebergement').value = '';
                document.getElementById('id_dateSortieHebergement').value = '';
            }
        }
    </script>
</body>
</html>
